<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>BloodHunt Compare</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FC5XXE05T6"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-FC5XXE05T6');
        </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">BloodHunt Compare - Work In Progress</a>
            </div>
        </nav>
        <div class="container">
            <div style="font-size: 15px;" class="text-center mt-5">
                <h1>BloodHunt Compare</h1>
                <p class="lead">BloodHunt Advanced Comparing Tool</p>
                <p>Compare All Player Stats</p>
                <p>Take the profile ID from the URL of the player from <a href="https://tracker.gg" target="_blank">tracker.gg</a></p>
                <p>https://tracker.gg/bloodhunt/profile/"ID" <-- What to input!</p>
                {% block content %}
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for msg in messages %}
                                    <p style="color: white;background: #dc3545;">{{ msg }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                {% endblock %}
            </div>
        </div>
        <div class="container" style="text-align: center;">
            <form action="/results" method="POST">
                <div class="mb-3">
                  <label for="playerid1" class="form-label">Player ID 1</label>
                  <input type="number" class="form-control" id="playerid1" name="playerid1">
                </div>
                <div class="mb-3">
                    <label for="playerid2" class="form-label">Player ID 2</label>
                    <input type="number" class="form-control" id="playerid2" name="playerid2">
                  </div>
                <button type="submit" class="btn btn-secondary">Submit</button>
              </form>
              <br>
              <h1>Join the Discord and give feedback!</h1>
              <br>
              <iframe src="https://discord.com/widget?id=967250293190434907&theme=dark" width="250" height="250" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
